// global 
* {
    box-sizing: border-box;
    padding: 0;
}

h1,h2,h3,h4,h5 {
    padding: 0;
    padding-bottom: 0;
}

.bt {
    border-top: solid 1px #9292929c;
}

.bb {
    border-bottom: solid 1px #9292929c;
}

.sub-total {
    font-weight: bold;
}

.main-container {
    border: solid 1px #000;
    width: 100%;
    box-shadow: 0px 2px 17px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 2px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 17px 0px rgba(0,0,0,0.75);
    border-radius: 11px;
}

.display-total {
    margin-left: 10px;
    font-size: 20px;
}